// .section-title {
//     font-weight: 600;
//     font-size: 11px;
//     line-height: 1.37;
//     letter-spacing: 0.01em;
//     }

// .title {
//         font-weight: 700;
//         font-size: 48px;
//         line-height: 1.17;
//         letter-spacing: 0.05em;
//         }

.title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.05em;

    color: #303030;
}
    


.samples-pictures {
    @media (max-width: $tablet) {
        display: none;
    }
    @media (min-width: $tablet) {
        width: 328px;
        height: 233px;
        background-image: url(../img/haircut.jpg);
        background-image: url(../img/.jpg);

        background-repeat: no-repeat;
        background-size: contain;       
        border: 2px solid #e9385a; }
    
        @media (min-width: $desktop) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 270px;
            height: 445px;
            background-image: url(../img/haircutdesktop.jpg);
            background-image: url(../img/bearddesktop@2x.jpg);

            background-image: url('haircutdesktop.jpg');
            background-repeat: no-repeat;
            background-size: contain;       
            border: 2px solid #e9385a; }}