// .section-title {
//     font-weight: 600;
//     font-size: 11px;
//     line-height: 1.37;
//     letter-spacing: 0.01em;
//     }

// .title {
//         font-weight: 700;
//         font-size: 48px;
//         line-height: 1.17;
//         letter-spacing: 0.05em;
//         }

.section-title {
    margin-top: 20px;
    margin-bottom: 0px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.05em;

    color: #303030;
}
    