// body {
//     margin: 0;
//     font-family: Open Sans, Raleway, sans-serif;
//     color: #303030;
//     background-color: fffff;


//     @media screen and (min-width: $mobile) {
//         max-width: $mobile;
//         background-color: orange;
      
//       }

//       @media screen and (min-width: $tablet) {
       
//         max-width: $tablet;
//         background-color: blue;
//           }
//      @media screen and (min-width: $desktop) {
//             max-width: $desktop;
//             background-color: green;
//               }

// }



img {
	display: block;
	max-width: 100%;
	height: auto;
  }

  
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  }
  .section-name {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
 
    margin-bottom: 20px;
      
    font-style: 400;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: $primary-text-color;

    
        &::before {
            content: "";
            width: 60px;
            height: 1px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $primary-text-color;
            margin-right: 20px;
        
        }

}

    // body {
//     margin: 0;
//     font-family: Open Sans, Raleway, sans-serif;
//     color: #303030;
//     background-color: fffff;


//     @media screen and (min-width: $mobile) {
//         max-width: $mobile;
//         background-color: orange;
      
//       }

//       @media screen and (min-width: $tablet) {
       
//         max-width: $tablet;
//         background-color: blue;
//           }
//      @media screen and (min-width: $desktop) {
//             max-width: $desktop;
//             background-color: green;
//               }

// }



img {
	display: block;
	max-width: 100%;
	height: auto;
  }

  
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    outline: solid tomato;  

    
    @media screen and (min-width: $mobile) {
    max-width: $mobile;
    padding: 84px 31px;
    // background-color: yellow;

    
    }
    
    @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 100px 39px;
    // background-color: green;

  
    }
    
    @media screen and (min-width: $desktop) {
    
    max-width: $desktop;
    padding: 130px 15px;
    // background-color: blue;

    }
    
    }

