body {
    margin: 0;
    font-family: Open Sans, Raleway, sans-serif;
    color: #303030;
    background-color: fffff;


    @media screen and (min-width: $mobile) {
        max-width: $mobile;
        background-color: orange;
      
      }

      @media screen and (min-width: $tablet) {
       
        max-width: $tablet;
        background-color: blue;
          }
     @media screen and (min-width: $desktop) {
            max-width: $desktop;
            background-color: green;
              }

}