$font-title: "Raleway", sans-serif;
$font-text: 'Open Sans', sans-serif;


$primary-background-color: #ffffff;
$secondary-background-color: #F7F7F7;
$primary-text-color: #303030;
$secondary-text-color: #555555;
$title-text-color: #ffffff; 
$accent-color: #FF6C00;
$additional-text-color: #9DA4BD;


 $animation-duration: 250ms;
  $animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//  $title-text-color: #ffffff;
//  $different-titl-color: #303030;
//  $text-color: #555555;
//  $alt-text-color: #9da4bd;
//  $accent-color:#ff6c00;

// #555555; - primary text color (основной текст в макете)
// #9DA4BD; - secondary text color (footer, price-list)
// #303030; - title text color (почти черный цвет заголовков)
// rgba(157, 164, 189, 0.4); - subtitle text color (плейсхолдер формы записи, некоторые подзаголовки, мелкий текст, лозунги)
// #FF6C00; - accent (акцент)