$font-text: "Roboto", sans-serif;
$font-logo: 'Open Sans', sans-serif;


$primary-background-color: #ffffff;
$secondary-background-color: #F7F7F7;
$primary-text-color: #303030;
$secondary-text-color: #555555;
$title-text-color: #ffffff; 
$accent-color: #FF6C00;
$additional-text-color: #9DA4BD;


// $animation-duration: 250ms;
// $animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

